<form id="frmGallery" class="clsForm" action="/gallery" method="post">
<div class="clsSelection">
  <select name="characterList" id="characterList">
    <option value="-1" selected>Choose a character</option>
    {{#each character}}       
    <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
  </select>
  <br><br>
  <button type="submit" value="submit">Submit</button>
</div>
</form>

<div class="clsContent">
  {{#if image}}
    <img src="/images/{{image}}" alt="{{name}}">
  {{else}}
    <img src="/images/Artist.jpg" alt="NO IMAGE" />
  {{/if}}
</div>

<div class="clsImageName">
  {{#if name}}  
  {{name}}
  {{else}}
  Artist
  {{/if}}
</div>

<div class="clsUsernameLogout">
  <div id="divUsername">{{user}}</div>
  <div id="divLogout"><a id="aLogout" onclick="fSubmitLogout();">Logout</a></div>
</div>
